*{
    margin: 0px auto;
    padding: 0px auto;
    background-color: black;
}
.inputs{
    position: absolute;
    background-color: white;
    font-size: 50px;
    width: 100%;
    border-bottom: solid 5px rgb(199, 197, 197);
}
.inputs button{
    position: absolute;
    bottom: 0%;
    font-size: 30px;
    color: white;
}
.inputs input{
    background-color: white;
    width: 600px;
    height: 40px;
    font-size: 40px;
}
textarea{
    background-color: white;
    width: 400px;
    height: 500px;
    font-size: 30px;
}
button{
    color: white;
    font-size: 40px;
}